/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10/09/2019, 00:02:21
    Author     : Victor
*/

.ui-datatable .ui-datatable-data .even-row td{
    background-color:#e6f7ff;
}
.ui-datatable .ui-datatable-data .odd-row td{
    background-color:#ffffff;
}
.tituloV{
    font-size: small;
    font-weight: bold;
    color: indianred    
}
.conteudoV{
    font-size: small;
    font-weight: bold;       
}


